.modal 
  padding 0px
  margin 0px
  background: transparent
  
  &_90 
    width 100%
    max-width 1190px

.remodal-overlay
  background: rgba(23, 23, 23, 0.9);
  
.button_close 
  background: image-url('close.png') no-repeat center
  width 60px 
  height @width