.header
  background: $green
  +after('th')


  &__top 
    height 282px
    background image-url('bg1.jpg') no-repeat center
    background-size cover
    
  &__bottom 
    padding 20px 
    background: $soft
    
    &__left-col
      width 100px