/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$marker_name = 'marker';
$marker_x = 0px;
$marker_y = 0px;
$marker_offset_x = 0px;
$marker_offset_y = 0px;
$marker_width = 28px;
$marker_height = 18px;
$marker_total_width = 56px;
$marker_total_height = 42px;
$marker_image = '../images/sprite.png';
$marker = 0px 0px 0px 0px 28px 18px 56px 42px '../images/sprite.png' 'marker';
$soc1_name = 'soc1';
$soc1_x = 0px;
$soc1_y = 26px;
$soc1_offset_x = 0px;
$soc1_offset_y = -26px;
$soc1_width = 16px;
$soc1_height = 16px;
$soc1_total_width = 56px;
$soc1_total_height = 42px;
$soc1_image = '../images/sprite.png';
$soc1 = 0px 26px 0px -26px 16px 16px 56px 42px '../images/sprite.png' 'soc1';
$soc2_name = 'soc2';
$soc2_x = 48px;
$soc2_y = 26px;
$soc2_offset_x = -48px;
$soc2_offset_y = -26px;
$soc2_width = 8px;
$soc2_height = 15px;
$soc2_total_width = 56px;
$soc2_total_height = 42px;
$soc2_image = '../images/sprite.png';
$soc2 = 48px 26px -48px -26px 8px 15px 56px 42px '../images/sprite.png' 'soc2';
$soc3_name = 'soc3';
$soc3_x = 36px;
$soc3_y = 0px;
$soc3_offset_x = -36px;
$soc3_offset_y = 0px;
$soc3_width = 20px;
$soc3_height = 16px;
$soc3_total_width = 56px;
$soc3_total_height = 42px;
$soc3_image = '../images/sprite.png';
$soc3 = 36px 0px -36px 0px 20px 16px 56px 42px '../images/sprite.png' 'soc3';
$zoom_name = 'zoom';
$zoom_x = 24px;
$zoom_y = 26px;
$zoom_offset_x = -24px;
$zoom_offset_y = -26px;
$zoom_width = 16px;
$zoom_height = 16px;
$zoom_total_width = 56px;
$zoom_total_height = 42px;
$zoom_image = '../images/sprite.png';
$zoom = 24px 26px -24px -26px 16px 16px 56px 42px '../images/sprite.png' 'zoom';
$marker_2x_name = 'marker@2x'
$marker_2x_x = 0px
$marker_2x_y = 0px
$marker_2x_offset_x = 0px
$marker_2x_offset_y = 0px
$marker_2x_width = 56px
$marker_2x_height = 36px
$marker_2x_total_width = 112px
$marker_2x_total_height = 84px
$marker_2x_image = '../images/sprite@2x.png'
$marker_2x = 0px 0px 0px 0px 56px 36px 112px 84px '../images/sprite@2x.png' 'marker@2x'
$soc1_2x_name = 'soc1@2x'
$soc1_2x_x = 0px
$soc1_2x_y = 52px
$soc1_2x_offset_x = 0px
$soc1_2x_offset_y = -52px
$soc1_2x_width = 32px
$soc1_2x_height = 32px
$soc1_2x_total_width = 112px
$soc1_2x_total_height = 84px
$soc1_2x_image = '../images/sprite@2x.png'
$soc1_2x = 0px 52px 0px -52px 32px 32px 112px 84px '../images/sprite@2x.png' 'soc1@2x'
$soc2_2x_name = 'soc2@2x'
$soc2_2x_x = 96px
$soc2_2x_y = 52px
$soc2_2x_offset_x = -96px
$soc2_2x_offset_y = -52px
$soc2_2x_width = 16px
$soc2_2x_height = 30px
$soc2_2x_total_width = 112px
$soc2_2x_total_height = 84px
$soc2_2x_image = '../images/sprite@2x.png'
$soc2_2x = 96px 52px -96px -52px 16px 30px 112px 84px '../images/sprite@2x.png' 'soc2@2x'
$soc3_2x_name = 'soc3@2x'
$soc3_2x_x = 72px
$soc3_2x_y = 0px
$soc3_2x_offset_x = -72px
$soc3_2x_offset_y = 0px
$soc3_2x_width = 40px
$soc3_2x_height = 32px
$soc3_2x_total_width = 112px
$soc3_2x_total_height = 84px
$soc3_2x_image = '../images/sprite@2x.png'
$soc3_2x = 72px 0px -72px 0px 40px 32px 112px 84px '../images/sprite@2x.png' 'soc3@2x'
$zoom_2x_name = 'zoom@2x'
$zoom_2x_x = 48px
$zoom_2x_y = 52px
$zoom_2x_offset_x = -48px
$zoom_2x_offset_y = -52px
$zoom_2x_width = 32px
$zoom_2x_height = 32px
$zoom_2x_total_width = 112px
$zoom_2x_total_height = 84px
$zoom_2x_image = '../images/sprite@2x.png'
$zoom_2x = 48px 52px -48px -52px 32px 32px 112px 84px '../images/sprite@2x.png' 'zoom@2x'
$spritesheet_width = 56px;
$spritesheet_height = 42px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $marker $soc1 $soc2 $soc3 $zoom;
$spritesheet = 56px 42px '../images/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 112px
$retina_spritesheet_height = 84px
$retina_spritesheet_image = '../images/sprite@2x.png'
$retina_spritesheet_sprites = $marker_2x $soc1_2x $soc2_2x $soc3_2x $zoom_2x
$retina_spritesheet = 112px 84px '../images/sprite@2x.png' $retina_spritesheet_sprites

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

// The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.

$marker_group_name = 'marker'
$marker_group = 'marker' $marker $marker_2x
$soc1_group_name = 'soc1'
$soc1_group = 'soc1' $soc1 $soc1_2x
$soc2_group_name = 'soc2'
$soc2_group = 'soc2' $soc2 $soc2_2x
$soc3_group_name = 'soc3'
$soc3_group = 'soc3' $soc3 $soc3_2x
$zoom_group_name = 'zoom'
$zoom_group = 'zoom' $zoom $zoom_2x
$retina_groups = $marker_group $soc1_group $soc2_group $soc3_group $zoom_group

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}


// The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
// It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon_home_group = 'icon-home' $icon_home $icon_home_2x;
//
// .icon-home {
// 	retinaSprite($icon_home_group)
// }


spriteBackgroundSize($sprite) {
	background-size $sprite[6] $sprite[7]
}

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		spriteImage($retina_sprite)
		spriteBackgroundSize($normal_sprite)
	}
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

// The `retinaSprites` mixin generates a CSS rule and media query for retina groups
// This yields the same output as CSS retina template but can be overridden in Stylus
//
// retinaSprites($retina_groups)

retinaSprites($retina_groups) {
	for $retina_group in $retina_groups {
		$sprite_name = $retina_group[0];
		.{$sprite_name} {
			retinaSprite $retina_group
		}
	}
}
