@import '_plugins'
// Nib
@import nib
// Import components: reset - mixins - sprite generators
@import '_components'
// Variables styles
@import '_variables'
// Sprite clases
@import 'clasesSprite'
// Media query
@import '_media'


body 
  font-family $body-font