include ../footer-nav-sub/footer-nav-sub

mixin footer-nav(data)
  .footer-nav&attributes(attributes)
    ul.footer-nav-menu
      each item in data
        li.footer-nav-menu__item
          a(href=item.url).footer-nav-menu__link= item.title
          +footer-nav-sub(item.sub)