.footer-nav
  text-align: center
  
  &-menu 
    
    &__link
      font-size 16px 
      font-family $pnova-bold
      text-transform uppercase
      text-decoration: none
    
    &__sub 
      margin 10px 0 18px 0
      
    &__sub__link 
      text-decoration: none
      color $grey2
      margin 0 5px