.contacts
  
  &-wrapper
    padding-top 70px
    
  &__title 
    font-size 36px 
    font-family $pnova-bold
    text-transform: uppercase
    margin 0 0 30px 0
    
  p 
    font-size 14px
    color $grey2
    padding 0 0 15px 0
    
    strong 
      font-family $pnova-bold
  
  strong
    font-family $pnova-bold
    color $grey2
    
  &__town
    border-bottom 1px solid $border
    padding 0 0 20px 0
    width 40%
    
    strong 
      display: block
      font-size 14px
      
    span
      color $grey2 
      font-size 14px
      
  &__content 
    padding 0 0 25px 0
    margin 0 0 25px 0
    
.form__label_bold 
  font-family $pnova-bold
  font-size 18px 
  color black
  
.form__area_contacts
  margin-top 10px
  background: $soft
  font-family $pnova-reg
  height 398px
  
.form__input_contacts
  margin-top 10px
  background: $soft
  color black
  height 60px
  font-size 18px
  font-family $pnova-reg
  &:focus 
    background: #cbb7a6
    color white
    
.form__select
  background: image-url('down.png') center right no-repeat $soft
  &:focus 
    background: image-url('down.png') center right no-repeat #cbb7a6
    