mixin category-item(data)
  .category__item&attributes(attributes).f__col
    a(href="single.html").category__item__link
      img(src="assets/images/article/1.jpg", alt="").category__item__img
    a(href="single.html").category__item__title Особенности заполнения бланка CMR
    span.category__item__date 24 января / 2017

		
