.main-menu__sub-menu
  background: white
  padding 50px
  
  &__link
    text-decoration: none
    font-family $pnova-reg
    bordered-center(black, 24px, black)
    text-transform: normal
    margin 6px 0
