mixin main-dots(data)
  .main__dots.row.column&attributes(attributes)
    a(href="#Международное").main__dots__link
      span.main__dots__span Международнрое права
    a(href="#Финансы").main__dots__link
      span.main__dots__span Финансы