include ../main-top/main-top
include ../main-item/main-item
include ../main-dots/main-dots

//- include ../main-blocks/main-blocks

mixin main(data)
  .main&attributes(attributes)
    .main-top-wrapper
      +main-top(mainTop.default)
    .main-item-wrapper
      +main-item(mainItem.default)
    +main-dots()

