.gallery
   
  &__item 
    width 25%
    margin 0 0 8px 0
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    
    &__img 
      width 100%
      display: block
      
  &__items 
    margin-right: -.3rem;
    margin-left: -.3rem;
  
  &__title 
    color #a6a6a6
    text-transform: uppercase
    margin 40px 0
    letter-spacing 3px
    +after('')
      width 50px 
      background: #a6a6a6
      height 2px 
      display: block
      margin 10px auto 0 auto
    
