include ../modules/injected/injected
include ../modules/page/page

include ../modules/head/head
include ../modules/header/header
include ../modules/registration/registration
include ../modules/footer/footer

//- include ../modules/sidebar/sidebar
include ../modules/page-title/page-title

doctype html
html(lang=config.lang)

  head
    +head(head.contacts)

  +page()
    +inject('header')
      +header()

    +inject('registration')
      +registration()

    +inject('footer')
      +footer()