.main-menu
  margin-left 40px
  
  &__link
    font-size 16px
    font-family $pnova-bold
    text-transform: uppercase
    text-decoration: none
    bordered-center(black, 16px, black)
    
  &__item_active &__link
    color $brown
    +before()
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      background: $brown
      
  &__modal-wrapper
    background: transparent
    
    .button_close 
      background-size 25px 25px
      right 5px 
      top 5px
      z-index: 1