include ../main-menu-submenu/main-menu-submenu
include ../modals/modals

mixin main-menu(data)
  nav.main-menu&attributes(attributes)
    ul.row.between
      - var i = 0;
      each item, i in data
        li.main-menu__item
          a(href=item.url, data-remodal-target='modal0'+i).main-menu__link= item.title
          if (item.submenu !== false)
            +modal({"id": "modal0"+i, "close": false}).main-menu__modal-wrapper
              +main-menu-submenu(item.submenu)