.header

  &-logo
    display: block
    box-shadow 0 6px 20px rgba(0, 0, 0, .6)
    img 
      display: block
    
  &__top 
    height 282px
    background image-url('bg1.jpg') no-repeat center
    background-size cover
    
  &__bottom 
    padding 30px 0
    
    &__row 
      margin 40px 0 0 0
    
    &__search
      margin-left 60px
      
    &__main-menu 
      flex 1
    
  &__bottom_soft
    background: $soft
    
    &__left-col
      width 100px