.registration-popup
  margin auto
  
  &_img 
    max-width 100%
  
  &-wrapper 
    absolute-center(600px, 745)
    
  &_title
    color white
    font-family $pnova-bold
    margin 30px 0 0 0
    
  &_span 
    color white
    font-size 18px
    margin 20px 0 25px 0
    
.register__modal-wrapper
  background: image-url('reg.jpg') no-repeat center
  width 100%
  height 100%
  max-width 100%
  background-size cover
  
  .modal-wrapper 
    margin auto

  .button_close
    right 20px 
    top 20px
    background-size 30px 30px
    z-index: 10
    
.remodal-wrapper
  padding 0px
  
.form__input_popup
  margin 0 0 20px 0
  height 80px
  font-size 24px 
  text-align: center

.button_popup 
  width 100%
  height 80px 
  font-size 24px 
  text-align: center
  font-family $pnova-bold
  color white 
  background: $brown

.no 
  color white 
  margin 20px 0
  text-transform: uppercase
  font-size 20px
  font-family $pnova-bold
  
.icon-1
  background: image-url('icon1.png') no-repeat left center white

.icon-2
  background: image-url('icon2.png') no-repeat left center white
  