.header-search__icon 
  retinaSprite($zoom_group)
  
.main__item__icon
  retinaSprite($marker_group)
  
.vk
  retinaSprite($soc1_group) 

.fb
  retinaSprite($soc2_group)
  
.tw
  retinaSprite($soc3_group)